<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="jgmphotography homepage">
    <meta name="keywords" content="photography, gallery, art, blog">
    <meta name="robots" content="follow">
    <meta http-equiv="author" content="Douglas McClellan">
    <meta http-equiv="expires" content="">
    <title>jgmphotography home</title>
  </head>
  <body>
    {% block content %}
    {% endblock %}
    <footer>
     <div class="footer">
       <p>Album is &copy; Jennifer McClellan {% now "Y" %}.</p>
     </div>
    </footer>
  </body>
</html>
