<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="jgmphotography homepage">
    <meta name="keywords" content="photography, gallery, art, blog">
    <meta name="robots" content="follow">
    <meta http-equiv="author" content="Douglas McClellan">
    <meta http-equiv="expires" content="">
    <title>jgmphotography home</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
      <div id="homepage">
        <div id="logo">
          <h1>JGMPhotography</h1>
        </div>

          <ul id="navigation">
            <li><a class="on" href="/gallery">Gallery</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="https://www.facebook.com/Jennifer-Golden-McClellan-Photography-101556664725140/">Facebook</a></li>
            <li><a href="mailto:jennifer.mcclellan@jgmphotography.net">Contact</a></li>
          </ul>

          <p>
            I enjoy capturing light, colors and emotions. I find photography exhilarating.
            If you want to know more about my photography services or are interested in an
            image contact me at facebook or email. Thank you!
          </p>


        </main>

      </div>
    </div>
    <footer>
     <div id="footer">
       <p>Album is &copy; Jennifer McClellan {% now "Y" %}.</p>
     </div>
    </footer>
  </div>
  </body>
</html>
